<!DOCTYPE html>
<html>
<head>
	<title>Algorithms</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="static/icon.png" type="image/x-icon">
</head>
<body style="background: #2980b9;">
	<div id="back"> <img src="static/back.jpg" height="500px" width="1370px"> </div>
	<h1>Group: 10</h1>

	<h1>Algorithms</h1>

    <form action="http://127.0.0.1:5000/average">
        <input id="abt_us" type="submit" value="Mean">
    </form>
    <form action="http://127.0.0.1:5000/plot">
        <input id="algo" type="submit" value="Interpolate">

</body>
</html>