<!DOCTYPE html>
<html>
<head>
    <title>Group 10 | Assignment</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="static/icon.png" type="image/x-icon">
</head>
<body>
    <div id="back"> <img src="static/back.jpg" height="500px" width="1370px"> </div>
    <h1>Web Development Assignment</h1>
    <h2>Group: 10</h2>
    <form action="http://127.0.0.1:5000/about_us">
        <input id="abt_us" type="submit" value="About Us">
    </form>
    <form action="http://127.0.0.1:5000/algo">
        <input id="algo" type="submit" value="Algorithms">
</body>
</html>