<head>
    <title>Interpolate Graph</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="icon" href="static/icon.png" type="image/x-icon">
</head>
<style>
html
{
    font-family: Raleway, sans-serif;
}
.toptaker
{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 15px;
}
</style>

<form method="POST">
    <div>
        <h1>Group: 10</h1>
        <h1>INTERPOLATE</h1>
        Enter the Coordinates<br>
        for eg: (0,0),(3,9),(-3,9)<br><br>
        <input type="text" name="points" value={{old_points}}>

    </div>
    <br>
    <div>
        <button type="submit" >Print the Graph!</button>
    </div>
    <div><figure>
        <img src={{source}}>
    </figure></div>
</form>
<body bgcolor="#2980b9">
	<a href="#" target="_top" class="toptaker"> <img src="static/toptaker.png"> </a>
</body>
        